<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tacademy.abuband" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:theme="@style/no_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Member.MemberActivity" >
        </activity>
        <activity
            android:name=".Menual.MenualActivity"
            android:label="@string/title_activity_menual"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Band.BandAddActivity" >
        </activity>
        <activity android:name=".Baby.BabyAddActivity" >
        </activity>
        <activity android:name=".SickReport.SickReportAddActivity" >
        </activity>
        <activity android:name=".SickReport.SickReportActivity" >
        </activity>
        <activity android:name=".Alarm.AlarmAddActivity" >
        </activity>
        <activity android:name=".Setting.TermsActivity" >
        </activity>
        <activity android:name=".Alarm.AlarmActivity" >
        </activity>
    </application>

</manifest>
